.flex{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

*{
    font-size: 1.2rem;
}


.scoreContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.scoreContainer h1{
    font-size: 2rem;
}

#scoreBingo{
    font-size: 1.3rem;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.buttons button{
    color: white;
    background-color: #895f9e;
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s linear 0.05s;
}

.buttons button:hover{
    transform: scale(1.1);
    background-color: #7b528f;


}

.onlyButtons{
    display: flex;
    flex-direction: column;
}

.container{
    display: grid;
    height: 600px;
    width: 600px;
    grid-gap: 3px;
    grid-template-columns: repeat( 16,1fr);
    grid-template-rows: repeat(16,1fr);
    border: 1px solid black;
}

#sentence{
    font-size: 2rem;
    text-align: center;
}

.bingo{
    text-align: center;
    background-color:#895f9e;
    border: 1px solid black;
}

.item1{
    grid-column: 1/5;
    grid-row:1/5;

}
.item2{
    grid-column: 5/9;
    grid-row:1/5;
    
}
.item3{
    grid-column: 9/13;
    grid-row:1/5;
    
}
.item4{
    grid-column: 13/17;
    grid-row:1/5;
    
}
.item5{
    grid-column: 1/5;
    grid-row:5/9;
    
}
.item6{
    grid-column: 5/9;
    grid-row:5/9;
    
}
.item7{
    grid-column: 9/13;
    grid-row:5/9;
    
}
.item8{
    grid-column: 13/17;
    grid-row:5/9;
    
}
.item9{
    grid-column: 1/5;
    grid-row:9/13;
    
}
.item10{
    grid-column: 5/9;
    grid-row:9/13;
    
}
.item11{
    grid-column: 9/13;
    grid-row:9/13;
    
}
.item12{
    grid-column: 13/17;
    grid-row:9/13;
    
}
.item13{
    grid-column: 1/5;
    grid-row:13/17;
    
}
.item14{
    grid-column: 5/9;
    grid-row:13/17;
    
}
.item15{
    grid-column: 9/13;
    grid-row:13/17;
    
}
.item16{
    grid-column: 13/17;
    grid-row:13/17;
    
}

.resultContainer{
    display: flex;
    justify-content: center;
}

.resultContainer h1{
    font-size: 4rem;
}