*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    font-family: "Chakra Petch";
}

body{
    background-image: linear-gradient(#17153B, #895f9e);
    background-size: cover;
    height: 100vh;
    
}

header{
    background-color: #17153B;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#searchOrHome{
    width: 40%;
}

#search-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#magnifying-glass {
    height: 50px;
    background-color: #534e8d;
    border-radius: 0px 13px 13px 0px;
    padding: 5px;
}

#searchBar{
    width: 300px;
    height: 50px;
    font-size: 1.6rem;
    padding-left: 10px;
    border-radius: 13px 0px 0px 13px;
}

#img-container{
    display: flex;
    justify-content: center;
    width: 20%;

}

header img{
    height: 170px;

}

header nav{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 60px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;;
}

header nav ul li{
    list-style-type: none;
    font-size: 2rem;
    color: white;
}

header nav ul a{
    text-decoration: none;
    background-color: #534e8d;
    padding: 10px 20px;
    border-radius: 10px;
}

